<!DOCTYPE html>
<html>
  <head>
    <title>test</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="/addportfolio" method="POST">
      <label for="name">Name:</label>
      <input type="text" name="name"><br>
      <label for="risk">Risk:</label>
      <input type="text" name="risk"><br>
      <label for="inv">Investment:</label>
      <input type="text" name="inv"><br>
      <label for="timeF">Time Horrizon:</label>
      <input type="text" name="timeF"><br>
      <input type="submit" value="Submit">
    
    </form>
    <a href="/portfolios">Show all portfolios</a>
  </body>
</html>
